<header>
    <div class="menu-wrapper">
        <a href="#"><img class="img-logo" src="./image/logo01.png" alt=""></a>
        <div class="menu-set">
            <ul>
                <li class="menu"><a href="./1.html">1 소개</a></li>
                    <ul class="menu sub-menu">
                        <li><a href="#schwarzwald">슈발츠발트</a></li>
                        <li><a href="#brandStory">브랜드 스토리</a></li>
                        <li><a href="#brandValue">브랜드 가치</a></li>
                        <li><a href="#brandIdentity">브랜드 아이덴티티</a></li>
                    </ul>
                <li><a href="./2.html" class="menu">2 그래픽 비주얼</a></li>
                    <ul class="menu sub-menu">
                        <li><a href="#mainKey">메인 키비주얼</a></li>
                        <li><a href="#subKey">서브 키비주얼</a></li>
                    </ul>
                <li><a href="./3.html" class="menu">3 디자인 시스템</a></li>
                    <ul class="menu sub-menu">
                        <li><a href="#logo">로고</a></li>
                        <li><a href="#colorSystem">컬러 시스템</a></li>
                        <li><a href="#typography">타이포그래피</a></li>
                        <li><a href="#layout">레이아웃</a></li>
                        <li><a href="#photo">사진</a></li>
                    </ul>
                <li><a href="./4.html" class="menu">4 적용</a></li>
                    <ul class="menu sub-menu">
                        <li><a href="#service">셈여림 서비스</a></li>
                        <li><a href="#application">어플리케이션</a></li>
                    </ul>
            </ul>
        </div>
    </div>
</header>