<div class="grid-7-line grid-span-7">
    <div class="top-line">
        <div class="font-16">
            <div>
                <div style="margin-bottom: 2.5rem;">
                    <p class="eng" style="font-weight: 600; margin: 0;">
                        PLAYING</p>
                        연주
                </div>
            </div>
        </div>
        <div class="font-16">
            <p style="margin-bottom: 2.5rem;">매력적인 스페셜티와 디저트, 공간을 채우는 향과 음악은 마치 한 곡의 연주처럼 어우러집니다.</p>
        </div>
    </div>
    <div class="top-line">
        <div class="font-16">
            <div>
                <div style="margin-bottom: 2.5rem;">
                    <p class="eng" style="font-weight: 600; margin: 0;">
                        VARIATIONS</p>
                        변주
                </div>
            </div>
        </div>
        <div class="font-16">
            <p style="margin-bottom: 2.5rem;">주마다 새로이 들여오는 맛과 향, 달마다 찾아오는 폭 넓은 이벤트는 일상을 변주시킵니다.</p>
        </div>
    </div>
</div>